@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .figure {
    background-size: cover;
    position: absolute;
    height: 12.5%;
    width: 12.5%;
  }
  .figure.wp {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wp.png);
  }
  .figure.wb {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wb.png);
  }
  .figure.wn {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wn.png);
  }
  .figure.wr {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wr.png);
  }
  .figure.wq {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wq.png);
  }
  .figure.wk {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/wk.png);
  }
  .figure.bp {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/bp.png);
  }
  .figure.bb {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/bb.png);
  }
  .figure.bn {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/bn.png);
  }
  .figure.br {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/br.png);
  }
  .figure.bq {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/bq.png);
  }
  .figure.bk {
    background-image: url(https://www.chess.com/chess-themes/pieces/neo/150/bk.png);
  }
  .board {
    background-image: url(https://www.chess.com/boards/green/150.png);
    background-size: cover;
  }
}
